.button {
  background-color: #fc9b27;
  min-height: 60px;
  min-width: 260px;
  color: #fff;
  font-size: 18px;
  border: 0;
  text-decoration: none;
  background-image: none;
  box-shadow: none;
  cursor: pointer;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
}

.button:hover {
  background-color: #fc7427;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.14) inset;
}

.button:active {
  box-shadow: none;
}
