.footer {
  width: 1280px;
  margin: 0 auto;
  padding-left: 90px;
  padding-right: 90px;
  background-color: #fff;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
